@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kalam&family=Sigmar&display=swap');

.welcome{
  font-family: 'Josefin-Sans', cursive;
  font-weight: bold;
  font-size: 3rem;
  width: 500px;
  margin-top: 250px;
  position: relative;
  top:95px
}
.head{
  display: flex;
  flex-direction: row;
}
.image{
  display: inline-block;
  margin-left: 0;
}
.cover{
  display: inline-block;
  width:30vw;
  position: relative;
  bottom: 275px;
  padding-left: 147px;
}
.actions {
    margin-top: 1.3rem;
    text-align: right;
  }
  
  .actions button {
    width: 300px;
    margin-top: 30px;
    font: inherit;
    cursor: pointer;
    background-color: #17065c;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #77002e;
    border-radius: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #1e5199;
    border-color: #0e82a5;
  }

.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.signup button{
    position: relative;
    top:96px;
    background-color: rgb(75, 15, 131);
    color: white;
    font-weight: bold;
    width: 400px;
    height: 50px;
    border-radius: 30px;
}

.login p{
    position: relative;
    top:60px;
}
.form {
    list-style: none;
    padding: 1rem;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
    border-radius: 6px;
    width: 400px;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 170px;
    height: 380px;
  }