@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sigmar&display=swap');

.position{
  display: flex;
  flex-direction: row;
}
.join{
  height: 320px;
  font-family:'Josefin Sans', sans-serif;
  width: 400px;
  border-radius: 5px;
  margin-left: 150px;
  margin-bottom: 100px;
}
.join p{
  font-size: 60px;
  padding-left: 7px;
  color: white;
  line-height: 1.2;
}
.back{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.control {
  margin-bottom: 0.5rem;
}
.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #17065c;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #77002e;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions button:hover,
.actions button:active {
  background-color: #0e4da5;
  border-color: #0e82a5;
}


.container input{
  width: 50%;
  border: 1px solid #00eeff
    }
  
    .container textarea{
      width: 50%;
      border: 2px solid #00eeff
        }
  
  .container{
    margin-left: 300px;
    align-items: center;
  }
  
  form h1{
    margin-left: 500px;
  }
  
  .form {
    list-style: none;
    margin-left: 265px;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
    position: relative;
    margin-top: 40px;
  }